* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #010202;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1146px;
    margin: auto;
    padding: 56px 0;
}

.logo {
    display: block;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
