* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #010202;
}

a {
    text-decoration: none;
    color: #FFF;
}

.header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1146px;
    margin: auto;
    padding: 56px 0;
}

.logo {
    display: block;
}

.user-name {
    font-size: 16px;
    line-height: 20px;

    margin-right: 15px;
}

.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.app {
    background:
        linear-gradient(90deg, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%),
        url("../img/cover.jpg") no-repeat top right;
    min-height: 100vh;
    color: #FFF;
}

.film {
    width: 90%;
    max-width: 1146px;
    margin: auto;
    padding: 7% 0;
}

.tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    opacity: 0.4;
    color: #E5E5E5;
    font-size: 16px;
    line-height: 140%;
}

.tags > * {
    margin-right: 15px;
}

.age {
    border: 1px solid #FFF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 1px 5px;
}

.description {
    max-width: 460px;
    font-size: 21px;
    line-height: 140%;
    margin-bottom: 36px;
}

.button {
    padding: 11px 26px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    line-height: 140%;
    background-color: #2F2F2F;
    color: white;
    cursor: pointer;
}

.button-primary {
    background-color: #EA6E20;
    margin-right: 15px;
}

.button-text {
    margin-left: 10px;
    vertical-align: text-bottom;
}

@media(max-width: 1200px) {
    .app {
        background-size: 50%;
    }
}

@media(max-width: 768px) {
    .app {
        height: auto;
        padding-bottom: 400px;
        background-position: bottom center;
    }
    .film {
        padding-top: 2%;
    }
    .description {
        font-size: 16px;
        max-width: 333px;
    }
    .film-logo {
        max-width: 100%;
    }
}
