* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #010202;
}

.header {
    max-width: 1146px;
    margin: auto;
    padding: 56px 0;
}

.logo {
    display: block;
}
